* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/typography';
@import 'sass/spacing';

html {
    scroll-behavior: smooth;
}


body {
    width: 100%;
    position: relative;
    background-color: #050607;
}

@import 'sass/layout';

button {
    padding: 8px;

    background-color: $white-normal;
    border: 0;
    border-radius: 5px;
}
